body
{
	background-color:white;
	font-family:Ubuntu;
	color:#6681BE;

}
h2
{
	width:468px;
	text-align:right;
}

.divbox
{

}

.orderdropdown
{
	width:610px;
	float:left;

}
.tablecolumnposition
{
	width:40px;
	text-align:left;
	margin-left:18px;
}
.tablecolumn
{
	width:140px;
	text-align:right;
}
.tablecolumnlarge
{
	width:310px;
	text-align:right;
}
.divLeft
{
	float:left;
	background-color:white;
	width:400px;
	padding-left:4px;
	padding-right:4px;
	color: black;
	text-align:center;
}
.divRight
{
	text-align:center;
	background-color:rgba(255, 255, 255, 0.5);
	padding-left:4px;
	padding-right:4px;


}
.headingleft
{
	background-color:grey;
	color:white;
	height:23px;
	text-align:center;
	padding-top:2px;
}
select {
   background: transparent;
   width: 160px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 29px;
   }
.texttolabel
{
outline:none;
border:none;
border-style: none;
}
.logoutbanner
{
	text-align:center;
	font-size: 2em;
	background-color: white;
	color:Black;
}
.divcolumnheader
{

	float:left;
	width:195px;
	text-align:left;
	margin-right:23px;
	margin-left:12px;
	font-weight:600;
}
.divcolumn
{

	float:left;
	width:195px;
	text-align:left;
	margin-right:23px;
	margin-left:12px;
}
.headingright
{

	margin:0 auto;
	background-color:#6681BE;
	color:White;
	height:23px;
	text-align:center;

	width:300px;
}

.loginbutton
{
	text-align:center;
	margin-top:6px;
	margin-bottom:5px;
}

.createprofileheading
{
	background-color:#6681BE;
	color:white;
	height:23px;
	text-align:center;
	padding-top:2px;
	width:300px;

	margin:50px auto;
}
.createprofileheading a
{
	text-decoration:none;
	color:white;

}

.createprofileheading a:hover{
	color:black;
}
.divPage
{
	width:960px;
	min-height:530px;
	margin-top: 0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
}

.header
{
	width:960px;
	height:85px;
	background-color:#6681BE;

}
.headerText
{
	text-align:center;
	font-family:"Dancing Script";
	color:white;
	font-size:60px;
	padding-top:10x;
}
.online{
	font-size:20px;
}
.navbar
{
	color:white;
	background-color:#6681BE;
	margin-top:0px;
	width:960px;
	height:25px;

/*	background-repeat: repeat-x */ /*The background image will be repeated only horizontally */
}

.navbutton a
{
	color:white;
	float:left;
	display:inline-block;
	text-decoration:none;
	width: 140px;
	height:25px;
	font-family:Ubuntu;
	font-size: 16px;
	text-align:center;
	padding-left:3px;

}

.username:nth-of-type(2)
{
	margin-top:50px;
}
.username
{
	margin-top:10px;
	text-align:center;

}
.usernametext
{
	text-align:right;
	display:inline-block;
	width:100px;
}
.usernameinput
{
	display:inline-block;
	width:150px;
}

input#login
{
	background-color:#6681BE;
	color:white;
	border-style:none;
	border-radius:2px;
	padding:4px 12px 6px;
}

input#login:hover
{
	color:black;
	cursor:pointer;
}
.navbutton a:hover
{
	float:left;
	width: 140px;
	height:25px;
	font-family:Ubuntu;
	font-size: 16px;
	color:black;
	text-align:center;
	background-repeat: repeat-x;
	padding-left:3px;
}

.footer
{
width:960px;
	height:85px;
	background-color:#6681BE;
	color:white;
	font-size:20px;

	font-family:"Dancing Script";
}
.footer h3
{
	text-align:center;
	margin:0px;
	line-height:85px;
}

.bodyContent
{
	width:960px;
	min-height: 525px;
	font-family: Times New Roman;
	font-size:1.1em;
	color:black;
	margin-left:53px;
	margin-right:24px;

}
.row
{
	text-align:left;
	width:960px;
	margin-top:6px;
	margin-bottom:9px;
}
.rowtextlabel
{
	float:left;
	width:195px;
	color:Darkblue;
	text-align:right;
	margin-right:3px;
	font-size:1.2em;
	margin-left:38px;
}

.rowtextlabelright
{
	float:left;
	width:115px;
	color:Darkblue;
	text-align:right;
	margin-right:16px;
	font-size:1.2em;
}
.rowinput
{
	float:left;
	width:220px;
	text-align:left;
	margin-left:7px;
}

.rowinputsmall
{
	float:left;
	width:60px;
	text-align:left;
	margin-left:7px;
}
.rowinputmed
{
	float:left;
	width:125px;
	text-align:left;
	margin-left:7px;
}
.rowinputemail
{
	float:left;
	width:582px;
	text-align:left;
	margin-left:7px;
}
.divCenter
{
	text-align:right;
	width:495px;
}
.button
{
	background-color:#6681BE;
	color:white;
	border-style:none;
	border-radius:2px;
	padding:4px 12px 6px;
}

.button:hover{
	color:black;
	cursor:pointer;
}
.checkoutbutton
{
	margin-left:84px;
}

.contactus
{
	font-size: 2.2em;
	margin-top:97px;
	text-align:center;
	margin-bottom:46px;
}
.errorStar
{
	color:red;
	float:left;
}
.taxesdisplay
{
	width:960px;
	text-align:right;
}
.dark
{
	float:left;
	font-weight:700;
	margin-right:14px;
}
.light
{
	float:left;
	font-weight:300;
	margin-right:36px;
}

table, th, td{

	border:1px solid black;
	border-spacing:0px;
}

.space
{
	height:100px;
}

.divPage h4
{
	float:right;
	padding:0px;
	margin:0px;
}
.background {
  font-family: 'Ubuntu', sans-serif;


}
.background:after{
  content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../music.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
}
